$headerBackground:#28262C;
$headerFooterColor:#FFF;
$separator:#05299E;
$functionalityBackground:#3428FF;
$presentationComponentBG:#fff;
$presentationComponentImgBG:#43404A;
$quoteAuthorColor:#989898FF;
$quoteBGColor:none;
$quoteColor:#FFF;
$quoteTextColor:#000;