$headerBackground:#28262C;
$headerFooterColor:#FFF;
$separator:#05299E;
$functionalityBackground:#3428FF;
$presentationComponentBG:#fff;
$presentationComponentImgBG:#43404A;
$quoteAuthorColor:#989898FF;
$quoteBGColor:none;
$quoteColor:#FFF;
$quoteTextColor:#000;

$formContenerBG:#235789;
$formBG:#FFF;
$formColor:#000;

$formInstructionColor:#000;
$formInstructionBG:#FFFFFF96;
$formInstructionSize:15px;