<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<%- include ("parts/include.ejs") %>
	<title>Les sondages de MattMatt</title>
</head>
<body>
	<%- include ("parts/header.ejs") %>
	<section class="artPresentation">
		<p class="artPresentation__text">
			Spécialement désigné pour les lives de MattMatt.
		</p>
	</section>
	<section class="fonctionalityPresentation">
		<div class="presentationComponent">
			<img src="/images/editIcon.png" class=presentationComponent__logo>
			<h3 class=presentationComponent__title>
				Une modularité a toute épreuve
			</h3>
			<p class=presentationComponent__content>
				Chaque sondage est entièrement personalisable. Les questions et les réponses sont modulaires et peutvent être activé et désactivées a volonté !
			</p>
		</div>
		<div class="presentationComponent">
			<img src="/images/coronavirus.png" class=presentationComponent__logo>
			<h3 class=presentationComponent__title>
				Garanti sans coronavirus
			</h3>
			<p class=presentationComponent__content>
				L'entièreté de ce site web est désinfecté régulièrement et l'équipe de dévelopeur est constitué de personnes confiné chez elles depuis le début du confinement.
			</p>
		</div>
		<div class="presentationComponent">
			<img src="/images/key.png" class=presentationComponent__logo>
			<h3 class=presentationComponent__title>
				Vos données personelles protégées
			</h3>
			<p class=presentationComponent__content>
				Vos données personelles sont strictement personelle. Ainsi, elle sont concervées de façon sécurisée dans une base de donnée sans mot de passe accéssible depuis une api publique. Non, je plaisante... Ou pas.
			</p>
		</div>
		<div class="presentationComponent">
			<img src="/images/share.png" class=presentationComponent__logo>
			<h3 class=presentationComponent__title>
				Un partage facile et intuitif
			</h3>
			<p class=presentationComponent__content>
				Le partage de sondage se fait de façon simple et intuitive. Grace au lien de partage généré automatiquement par notre serveur, vous n'avez pas besoin de vous casser la tête.
			</p>
		</div>
		<div class="presentationComponent">
			<img src="/images/lock.png" class=presentationComponent__logo>
			<h3 class=presentationComponent__title>
				Sécurisez vos sondages
			</h3>
			<p class=presentationComponent__content>
				Vous pouvez mettre un mot de passe sur vos sondages ne le partager qu'avec les personnes de votre choix.
			</p>
		</div>
		<div class="presentationComponent">
			<img src="/images/spy.png" class=presentationComponent__logo>
			<h3 class=presentationComponent__title>
				Votre vie privée est importante
			</h3>
			<p class=presentationComponent__content>
				Comme vous pourrez le constater, il n'y a pas de pubs ciblées sur ce site web. C'est en effet pour protéger votre vie privée que nous ne métons pas le nez dedans avec de pubs.
			</p>
		</div>
	</section>
	<section class="convaincrePresentation">
		<h2 class="convaincrePresentation__title">Pourquoi choisir Les sondages de MattMatt?</h2>
		<p class="convaincrePresentation__textContent">
			Vous n'êtes toujours pas conquis?<br/>
			Alors vous êtes au bon endroits!<br/>
			Beaucoup de personnes se demandent en effet <strong>pourquoi</strong> ils devraient nous faire confiance. Je peut vous répondre en deux mots: <strong>La Fiabilité</strong>. En effet, nos équipes sont là a vos coté <strong> 24h/24 7j/7</strong> pour répondre a vos questions et vous aider dans la création de vos magnifiques sondages.<br/>
			De plus, la protection de vos données personelles et de votre vie privée est notre <strong>objectif numéro un</strong>, avec nous, aucune fuite (ou presque).
		</p>
		<h2 class="convaincrePresentation__title">Peut on créer un sondage sans créer de compte?</h2>
		<p class="convaincrePresentation__textContent">
			Bien sur, <br/>
			Vous pouvez parfaitement <strong>faire un sondage sans conte</strong>. Mais, créer un conte vous permétras de revoir vos réponses, de les modifier si c'est permis ou encore de créer vos propres sondages. De plus il est important de créer un compte si vous voulez laisser un commentaire sur le sondage.
		</p>
		<h2 class="convaincrePresentation__title">Existe t'il un moyen d'envoyer les sondages par mail?</h2>
		<p class="convaincrePresentation__textContent">
			Oui,<br/>
			ENvoyer les sondages par mail est totalement possible, il sufit de copier le lien de partage et de l'envoyer par mail. Malheureusement, envoyer un lien de partage par mail en utilisant une présentation des Sandages de MattMatt n'est pour le moment pas possible.
		</p>
	</section>
	<section class="avisClientPresentation">
		<div class="avisClientPresentation__slider">
			<blockquote class="clientSitation">
				<div>
					<p class = "clientSitation__text">
						Les sondages de MattMatt est le meilleur site de sondage que j'ai jamais vu de ma vie. <br/>
						Je recommende fortement.
					</p>
					<cite class="clientSitation__author">
						Le premier client des sondages de MattMatt, Matthieu Xillo.
					</cite>
				</div>
			</blockquote>
			<blockquote class="clientSitation">
				<div>
					<p class = "clientSitation__text">
						J'addore, tout simplement magnifique ! Je suis trés satisfaite des offres que l'entreprise founis et le service client est topissime !
					</p>
					<cite class="clientSitation__author">
						La Kartoffel
					</cite>
				</div>
			</blockquote>
			<blockquote class="clientSitation">
				<div>
					<p class = "clientSitation__text">
						Si un jour on m'avais dit que je serais satisfait d'un site web au point de mettre un commentaire je n'y aurrais pas cru. Tout simplement magnifique.
					</p>
					<cite class="clientSitation__author">
						JP, Jeansansdents, Jeanfile des perles...
					</cite>
				</div>
			</blockquote>
			<blockquote class="clientSitation">
				<div>
					<p class = "clientSitation__text">
						L'utilité de ce site web m'est apparue de suite mais je n'ai pas encore trouvée d'utilité utile. Je me demande meêm si ce commentaire a lieu d'être et s'il est vraiement utile.
					</p>
					<cite class="clientSitation__author">
						Vivianb11
					</cite>
				</div>
			</blockquote>
			<blockquote class="clientSitation">
				<div>
					<p class = "clientSitation__text">
						Domage que ce ne soit pas codé en java. Il manque d'ailleur un peut de java dans les questionnaires. C'est domage que java ne soit pas présent dans les crédits. Au fait, j'aime java plus que tout et, dire que ce site est parfait n'est pas possible car le seul parfaitisme au monde c'est java.
					</p>
					<cite class="clientSitation__author">
						JAVA, C'est plus fort que toi, RandomMan, Lucien
					</cite>
				</div>
			</blockquote>
		</div>
	</section>
	<%- include ("parts/footer.ejs") %>
</body>
</html>