<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8"/>
	<title>Les sondages de MattMatt - Log In</title>
	<%- include ("parts/include.ejs") %>
</head>
<body>
	<%- include ("parts/header.ejs") %>
	<section class="form-contener">
			<form action="" method="POST" autocomplete="on" class="form-contener__form">
			<h2>Mot de passe du sondage</h2>
			<% if (locals.error) 
				if (error.length > 0) {%>
				<div class="instruction-contener">
					<label class="instruction-contener__instruction"><%= error%></label>
				</div>
			<% } %>
				<input 	type="password" 
						name="password" 
						id="password"
						required 
						minlength="8"
						placeholder="Mot de passe"
				>
				<input type="submit" name="submit" value="Valider">
			</form>
	</section>
	<%- include ("parts/footer.ejs") %>
</body>
</html>