.artPresentation{
	background: no-repeat url("/images/art.jpg");
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 5px;
	padding-right:5px;
	&__text{
		font-size: 20px;
		overflow:wrap;
		text-align: center;
	}
}
.fonctionalityPresentation{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
	background:$functionalityBackground;
	padding-top:10px;
	padding-bottom:10px;
}
.convaincrePresentation{
	padding:10px;
	&__title{
		width: 100%;
		text-align: center;
	}
	&__textContent{
		margin-left: 20%;
		margin-right: 20%;
	}
}

@keyframes sliderAnimation{
	@include createSliderAnimation($presentationSliderTranslate,translate);
}


.avisClientPresentation{
	background:#0C6291;
	overflow:hidden;
	padding-top:100px;
	padding-bottom:100px;
	&__slider{
		display:flex;
		animation-duration: 20s;
		animation-name: sliderAnimation;
		animation-iteration-count: infinite;
	}
}