.artPresentation{
	background: no-repeat url("/images/art.jpg");
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 5px;
	padding-right:5px;
	min-height:85vh;
	&__text{
		font-size: 20px; 
		overflow:wrap;
		text-align: center;
	}
	
}
.fonctionalityPresentation{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:15px;
	background:$functionalityBackground;
	padding:10px;
	min-height:100vh;
	@media screen and (max-width: map-get($breakPointMap,presentation2)) {
		grid-template-columns:1fr 1fr;
	}
	
	@media screen and (max-width: map-get($breakPointMap,presentation1)) {
		grid-template-columns:1fr;
	}
}
.convaincrePresentation{
	padding:10px;
	&__title{
		width: 100%;
		text-align: center;
	}
	&__textContent{
		margin-left: 20%;
		margin-right: 20%;
	}
}

@keyframes sliderAnimation{
	@include createSliderAnimation($presentationSliderTranslate);
}


.avisClientPresentation{
	background:#0C6291;
	overflow:hidden;
	padding-top:100px;
	padding-bottom:50px;
	&__slider{ 
		display:flex;
		animation-duration: 25s;
		animation-name: sliderAnimation;
		animation-iteration-count: infinite;
	}
}