<footer class="footer">
	<p>
		Site web réalisé par Robotechnic.<br/>
		Il est entièrement open-source et est disponible sur git hub :<br/>
		<a href="https://github.com/Robotechnic/les-sondages-de-MattMatt">https://github.com/Robotechnic/les-sondages-de-MattMatt</a>
	</p>
</footer>