<header class="header">
	<h1 class="header__title">Les sondages de MattMatt</h1>
	<nav class="header__menu">
		<a href="/users/login">Log In</a>
		<a href="/users/signIn">Sign In</a>
	</nav>
</header>