<header class="header">
	<h1 class="header__title">Les sondages de MattMatt</h1>
	<input type="checkbox" name="menu-button" id="header__menu-button-responsive" class="header__menu-button-responsive">
	<nav class="header__menu">
	</label>
		<a href="/users/login">Log In</a>
		<a href="/users/signIn">Sign In</a>
	</nav>
	<label For="header__menu-button-responsive" class="header__label-responsive">
		<img src="/images/menu.png">
	</label>
</header>