input {
	border:1px solid grey;
	border-radius:5px;
	font-size: 15px;
	padding:2px;

	// &:invalid{
	// 	border:red;
	// 	box-shadow: 0px 0px 15px 5px red;
	// }
	&[type="submit"],&[type="button"]{
		cursor: pointer;
		transition-duration: 0.5s;
		&:hover{
			color:white;
			background:darken(grey,15%);
		}
	}

	&[type="checkbox"]:not(.normal){
		display: none;
	}
	&[type="checkbox"]:not(.normal) + label {
		cursor:pointer;
	}
	&[type="checkbox"]:not(.normal) + label::before {
		cursor:pointer;
		content:'';
		border: 1px solid #00B7E8;
		border-radius:5px;
		padding: 0 0.6rem;
		margin-right: 0.3rem;
	}
	&[type="checkbox"]:checked + label::before {
		background-color: #00B7E8;
	}
	
}

