.presentationComponent{
	background:$presentationComponentBG;
	border-radius:10px;
	padding:5px;
	&__logo{
		margin-left: auto;
		margin-right: auto;
		display:block;
	}
	&__title{
		text-align: center;
	}
	&__text{
		display:block;
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		max-width: 400px;
	}
}